* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0 auto;
	background: #f5f5f5;
}
/*Header*/
.header {
	background-color: #FFFFFF;
}

.header img{
	margin-top: 10px;
	margin-bottom: 20px;
}

/*Navigation Bar*/
.navbar-style {
	background-color: #005533 !important;

}

.navbar-style li a {
	color: #fff !important;
}

.navbar-style li a:hover {
	 color: #d2c5c5 !important;
}

/*Side Panel navigation bar*/
.card-header-side-panel button {
	color: #fff !important;
}

/*Forms*/

.error {

  color: #a94442; 
}

.success {
	color: green;
}

/*Cards*/

.card-body-header {
	padding: 6px !important;
}

.card {
	margin: 3px !important;
}


.card-header {
    padding: 0px !important;
    text-align: center !important;
    background: #005533;
    color: #fff; 
}

.list-group-item {
	padding: 0px !important;
}