* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0 auto;
}

.header {
	background-color: #FFFFFF;
}

.header img{
	margin-top: 10px;
	margin-bottom: 20px;
}

.navbar-style {
	background-color: #005533;

}

.side-panel li a {
	color: blue;
}