* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0 auto;
}

.header {
	background-color: #FFFFFF;
}

.header img{
	margin-top: 10px;
	margin-bottom: 20px;
}

.navbar-style {
	background-color: #005533;

}

.side-panel li a {
	color: blue;
}

.error {

  color: #a94442; 
}

.card {
	margin: 5px !important;
}


.card-header {
    padding: 0px !important;
    text-align: center !important;
    background: #005533;
    color: #fff; 
}

.list-group-item {
	padding: 0px !important;
}